<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/css/bootstrap.css" rel="stylesheet">
    <link href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/css/ask_get.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
  </head>
  <body>
    <div class="control-group">
    </div>
    <div class="container-fluid">
      <h1>
        <div id="title" style="text-align: center;">
          Ask
        </div>
      </h1>
      <form name="ajax-form" id="ajax-form" action="/" method="post">
          <input name="question" type="text" class="search" name="question" placeholder="a question" id="question"></input>
          <button id="send">Submit</button>
          <div class="error" id="err-form">There was a problem validating the form please check!</div>
          <div class="error" id="err-timedout">The connection to the server timed out!</div>
          <div class="error" id="err-state"></div>
      </form>
      <div id="ajaxsuccess">Searching...</div>
      <div id="answer"></div>
    </div>

    <style>
      .container-fluid {
       text-align: center;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="http://ec2-50-17-103-0.compute-1.amazonaws.com/static/js/bootstrap.js">
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript">

    jQuery(document).ready(function($){ // wait until the document is ready
        $.fn.serializeObject = function(){
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(function(){
            $('form').submit(function() {
                question = JSON.stringify($('form').serializeObject());
                $('#ajaxsuccess').slideDown('fast');
                $('#title').slideUp('fast');
                $.ajax({
                  type: "POST",
                  dataType: "json",
                  contentType: "application/json;charset=utf-8",
                  url: $('#ajax-form').attr('action'),
                  data: question,
                  timeout: 60000,
                  error: function(request,error) {
                    console.log('error');
                      if (error == "timeout") {
                          $('#err-timedout').slideDown('slow');
                      }
                      else {
                          $('#err-state').slideDown('slow');
                          $("#err-state").html('An error occurred: ' + error + '');
                      }
                  },
                  success: function(data) {
                      $('#ajaxsuccess').slideUp('fast');
                      var $response = $(data);
                      console.log($response);
                      $('#answer').text($response[0]['best_answer'][0]);
                  }
                });
                return false;
            });
        });

    });
    </script>
  </body>
</html>
