{% extends "base.html" %}

{% block header %}
{% end %}

{% block content %}
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Deepish QA
      </a>
      <ul class="nav">
        <li>
        </li>
        <li>
          <a href="#">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Contact
          </a>
        </li>
      </ul>
      <form class="navbar-form pull-right">
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="hero-unit">
      <div class="control-group">
      </div>
      <div>
        <h1>
          Deep(ish)QA
        </h1>
        <p>
          Deep(ish)QA is a factoid-question-answering web application written in
          Python.
        </p>
      </div>
      <input id="search" name="search" type="" placeholder="Ask a question"
      class="search">
      <a class="btn" href="#">
        Ask
        <br>
      </a>
			<!--<form method="POST" action="/cleverhans">
				<div>
					<input type="text" class="search" name="question" placeholder="Ask a question" id="question" ></input>
				</div>
				<div>
					<input type="submit" class="span4" value="Ask" />
				</div>
			</form>-->
      <div class="span4">
        <div>
          <h2>
            What is a factoid?
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.
          </p>
        </div>
        <a class="btn" href="#">
          View details »
        </a>
      </div>
      <div class="span4">
        <div>
          <h2>
            How does it work?
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.
          </p>
        </div>
        <a class="btn" href="#">
          View details »
        </a>
      </div>
      <div class="span4">
        <div>
          <h2>
            What's next?
          </h2>
          <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.
          </p>
        </div>
        <a class="btn" href="#">
          View details »
        </a>
      </div>
    </div>
    <hr>
    <div>
      © Gavin Hackeling 2012 
    </div>
  </div>
  {% end %}

  {% block footer %}
  {% end %}
